* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(163, 163, 163, 0.205);
  width: 100vw;
}
.container {
  gap: 0 20px;
  width: 80%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

img {
  border-radius: 5px;
  box-shadow: 0 0 5px;
}

/* header bölümü */

header {
  width: 80vw;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
}

.hed1 {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.hed2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20px;
}
.hed2 h2 {
  font-size: 15px;
  font-family: sans-serif;
}
.hed2 p {
  font-size: 12px;
  font-family: sans-serif;
}

/* 1. div başlangıç */

.div1 {
  display: grid;
  grid-template-rows: 0fr 6fr 1fr 1fr;
}
.div1_1 {
  display: grid;
  grid-template-columns: 10fr 1fr;
}
.div1_2 {
  display: flex;
  align-items: center;
}
.div1_1_1 {
  height: max-content;
}
.div1_1_1 img {
  width: 100%;
}
.div1_1_2 {
  display: flex;
  justify-content: center;
}
.div1_1_2 p {
  transform: rotate(90deg);
  font-size: 10px;
  width: 20px;
  height: 20px;
}

/* 2. div başlangıç */

.div2 {
  display: grid;
  grid-template-rows: 1fr 6fr 1fr 0fr;
}
.div2_1 {
  display: grid;
  grid-template-columns: 10fr 1fr;
}
.div2_2 {
  display: flex;
  align-items: center;
}
.div2_1_1 {
  height: max-content;
}
.div2_1_1 img {
  width: 100%;
}
.div2_1_2 {
  display: flex;
  justify-content: center;
}
.div2_1_2 p {
  transform: rotate(90deg);
  font-size: 10px;
  width: 20px;
  height: 20px;
}

/* 3.div başlangıç */

.div3 {
  display: grid;
  grid-template-rows: 0fr 6fr 1fr 1fr;
}
.div3_1 {
  display: grid;
  grid-template-columns: 10fr 1fr;
}
.div3_2 {
  display: flex;
  align-items: center;
}
.div3_1_1 {
  height: max-content;
}
.div3_1_1 img {
  width: 100%;
}
.div3_1_2 {
  display: flex;
  justify-content: center;
}
.div3_1_2 p {
  transform: rotate(90deg);
  font-size: 10px;
  width: 20px;
  height: 20px;
}

/* 4.div başlangıç */

.div4 {
  display: grid;
  grid-template-rows: 0fr 6fr 1fr 1fr;
}
.div4_1 {
  display: grid;
  grid-template-columns: 10fr 1fr;
}
.div4_2 {
  display: flex;
  align-items: center;
}
.div4_1_1 {
  height: max-content;
}
.div4_1_1 img {
  width: 100%;
}
.div4_1_2 {
  display: flex;
  justify-content: center;
}
.div4_1_2 p {
  transform: rotate(90deg);
  font-size: 10px;
  width: 20px;
  height: 20px;
}

/* 5.div başlangıç  */

.div5 {
  display: grid;
  grid-template-rows: 1fr 6fr 1fr 0fr;
}
.div5_1 {
  display: grid;
  grid-template-columns: 10fr 1fr;
}
.div5_2 {
  display: flex;
  align-items: center;
}
.div5_1_1 {
  height: max-content;
}
.div5_1_1 img {
  width: 100%;
}
.div5_1_2 {
  display: flex;
  justify-content: center;
}
.div5_1_2 p {
  transform: rotate(90deg);
  font-size: 10px;
  width: 20px;
  height: 20px;
}

/* 6.div başlangıç */

.div6 {
  display: grid;
  grid-template-rows: 0fr 6fr 1fr 1fr;
}
.div6_1 {
  display: grid;
  grid-template-columns: 10fr 1fr;
}
.div6_2 {
  display: flex;
  align-items: center;
}
.div6_1_1 {
  height: max-content;
}
.div6_1_1 img {
  width: 100%;
}
.div6_1_2 {
  display: flex;
  justify-content: center;
}
.div6_1_2 p {
  transform: rotate(90deg);
  font-size: 10px;
  width: 20px;
  height: 20px;
}

/* MOBİL VERSİYON */
@media (max-width: 576px) {
  .container {
    gap: 0 50px;
    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .div4 {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr 0fr;
  }
  .div5 {
    display: grid;
    grid-template-rows: 0fr 6fr 1fr 1fr;
  }
  .div6 {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr 0fr;
  }
  header {
    width: 80vw;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .hed2 {
    margin-left: 0px;
  }
}
