*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

@media only screen and (min-width: 900px) {
    body{
        background-color: #f0f2f5;
        
    }
    form input{
        height: 52px;
        width: 364px;
        margin: 5px;
        border-radius: 5px;

    }
    #mail{
        padding: 5px 10px;
        font-size: 17px;

    }
    #şifre{
        padding: 5px 10px;
        font-size: 17px;
    }
    #giriş{
        background-color: #1877f2;
        border: #1877f2;
        color: white;
        font-size: 20px;
        font-weight: 600;
    }
    #div6{
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 5px;
        padding: 15px;

    }
    form{
        display: flex;
        flex-direction: column;

    }
    form input{
        border: solid rgba(128, 128, 128, 0.315) 1px;
        margin: 6px 0;

    }
    #div5{
        text-align: center;
        width: min-content;
    }
    hr{
        width: 350px;
        height: 1px;
        background-color: rgba(128, 128, 128, 0.281);
    }
   
    #p1 a{
        color: #1877f2;
        
    }
   
    #p2{
        
        width: 190px;
        padding: 15px;
        background-color: #42b72a;
        border-radius: 5px;
        
    }
    #p2 a{
        
        color: white;
        font-size: 17px;
        font-weight: 600;
        
    }
    
    #div8{
        
        display: flex;
        justify-content: center;
        margin-bottom: -10px;
        margin-top: 15px;
        
    }
    #div8 p2{
        margin-bottom: 10px;
        margin-top: 20px;
    }
    #div5 p{
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 20px;
        
    }
    #div5 >p a{
        color: black;
        font-weight: 700;
    }
    #div5 >p{
        margin-top: 25px;

    }
    #div4{
        width: 580px;
        
    }
    #div4 img{
        width: 301px;
        margin: 0 0 -55px -33px;
    }
    #div3{
        margin-top: 130px;
        display: flex;
        justify-content: center;
    }
    #div4_1{
        width: 500px;
        margin-top: -8px;
        
    
    }
    #div4_1 p{
        font-size: 28px;

    }
    #div1{
        
        padding-bottom: 173px;
    }
    #div2{
        font-size: 14px;
        background-color: white;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 43px;
        
    }
    #div2_0{
        margin: 0 ;

    }
    #div2_2{
        padding-bottom: 4%;
        

    }
    #div2_1{
        height: auto;
        margin-top: 26px;
        
        
    }
    #div2_1 ul{
        display: flex;
        flex-direction: row;
        padding-left: 0px;
        margin-left: -10px;
        flex-wrap: wrap;
    }
    #div2_1 li{
        margin: 0 8px;
    }
    #div2_1 li a{
        color: rgba(128, 128, 128, 0.863);
        font-size: 12px;
    }
    
    #div2 hr{
        background-color: rgba(128, 128, 128, 0.452);
        height: 1px;
        width: 100%;
        margin: 10px 0;
        
    }
    #div2_2 li a{
        color: rgba(128, 128, 128, 0.863);
        font-size: 12px;
    }
    #div2_2 ul{
        display: flex;
        flex-direction: row;
        padding-left: 0px;
        flex-wrap: wrap;
        margin-left: -10px;
    
    }
    #div2_2 li{
        margin: 0 8px 5px 8px;
    }
    #div2_2 p{
        color: rgba(128, 128, 128, 0.863);
        font-size: 12px;
        margin: 20px 0 0 0;
    }









}