*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;

}
body{
    background-color: hsl(229, 57%, 11%);
}
main{
    position: absolute;
    bottom: 38vh;
    height: 24vh;
    width:64vw;
    z-index: 2;
    margin: 0 18vw;
    display: flex;
    justify-content: space-between;
    

}
footer{
    height: 51vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}   
footer > img{
    height: 100%;
    width: 100%;
}
.div1{
    background-color: hsl(228, 56%, 26%);
    width: 38.5%;
    border-radius: 10px 100px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div2{
    background-color: hsl(228, 56%, 26%);
    width: 58.5%;
    border-radius: 10px;
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
.div1_1{
    margin-left: 43px;
    
}
.div1_2{
    margin-left: 43px;
    display: flex;
    align-items: flex-end;
}
.div1_2 div{

    margin: 28px 20px 0 0;
    width: 45px;
    height: 45px;
    background-color: hsl(229, 57%, 11%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.div2 > div{
    
    margin: 0 2vw;
    
    

}
.div2_3{
    height: 20px;
    margin: 0 2%;
    width: 96%;
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.div2_4{
    display: flex;
    justify-content: space-between;
}
.div2_3_1{
    height: 14px;
    width: 74%;
    margin-left: 2px;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.div2_3_1_1{
    height: 11px;
    width: 11px;
    margin-right: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
.div2_2, .div2_3, .div2_4{
    margin: 10px;
}

.div2_1{
    position: absolute;
    right: 2.8vw;
    top: -6.2vh;
    
    width: 180px;
    height: 96px;
    
    border-top-right-radius: 50px;
    border-right: 20px solid rgb(255, 255, 255) ;
    border-bottom: 20px solid transparent;

}
.div2_1 div{
    width: 180px;
    height: 78px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2_2 p{
    color: white;
}
.div2_4 p{
    color: white;
}

#span1{
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 40px;
}
#p1{
    color: rgba(0, 0, 0, 0.479);
    font-weight: 700;
}
#span1 font{
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 40px;
}

@media (max-width:375px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-image: url(images/bg-mobile.png);
        background-repeat: no-repeat;
        
    }
    footer{
        display: none;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 7vw;
    }
    .div1{
        background-color: hsl(228, 56%, 26%);
        width: 86vw;
        border-radius: 10px 100px 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .div2{
        background-color: hsl(228, 56%, 26%);
        width: auto;
        width: 86vw;
        border-radius: 10px;
        margin-top: 6vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
        padding: 5vh 0; 
        text-align: center;
    }
    .div1_1{
        margin-left: 43px;
        margin-top: 6vh;
    }
    .div1_2{
        margin-left: 43px;
        display: flex;
        align-items: flex-end;
        margin-bottom: 6vh;
    }
    .div1_2 div{
    
        margin: 28px 20px 0 0;
        width: 45px;
        height: 45px;
        background-color: hsl(229, 57%, 11%);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }
    
    .div2 > div{
        
        margin: 0 2vw;
        
        
    
    }
    .div2_3{
        height: 20px;
        margin: 0 2%;
        width: 96%;
        background-color: hsl(229, 57%, 11%);
        border-radius: 10px;
        display: flex;
        align-items: center;
    }
    .div2_4{
        display: flex;
        justify-content: space-between;
    }
    .div2_3_1{
        height: 14px;
        width: 74%;
        margin-left: 2px;
        background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
        border-radius: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .div2_3_1_1{
        height: 11px;
        width: 11px;
        margin-right: 2px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
    }
    .div2_2, .div2_3, .div2_4{
        margin: 10px;
    }
    
    .div2_1{
        position: absolute;
        right: 19vw;
        top: 18vh;
        
        
        width: 180px;
        height: 96px;
        
        border-top-right-radius: 50px;
        border-right: 0 solid rgb(255, 255, 255) ;
        
    
    }
    .div2_1 div{
        width: 180px;
        height: 78px;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #span1{
        color: rgb(0, 0, 0);
        font-weight: 700;
        font-size: 40px;
    }
    #p1{
        color: rgba(0, 0, 0, 0.438);
        font-weight: 700;
        
    }
    #span1 font{
        color: rgb(0, 0, 0);
        font-weight: 700;
        font-size: 40px;
    }

}