* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-attachment: fixed;
  /* opacity: 0.93; */
}
.div1,
.div2,
.div3,
.div4,
.div5 {
  opacity: 0.75;
}
.div1 {
  background-image: url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 101vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div1 div {
  background-color: rgb(0, 0, 0);
  padding: 30px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  outline-offset: 15px;
  outline: inset 8px purple;
  position: relative;
  top: -45px;
}
.div1 div h1 {
  color: white;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 8px;
}
.div2 {
  background-image: url(./img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 110vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.div22 {
  background-color: rgb(241, 241, 241);
}
.div2_1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 70px;
  opacity: 0.7;
}
.div2_1 h2 {
  font-weight: 900;
}
.div2_1 p {
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
  line-height: 25px;
}
.div2_2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div2_2 img {
  width: 30vw;
}

.div3 {
  background-image: url(./img/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 110vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.div33 {
  background-color: rgb(0, 0, 0);
}
.div3_1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 70px;
}
.div3_1 h3 {
  color: white;
  font-size: 25px;
  font-weight: 900;
}
.div3_1 p {
  color: white;
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
  line-height: 25px;
}
.div3_2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div3_2 p {
  font-size: 50px;
  letter-spacing: 7.5px;
  color: white;
}
.div3_2 > div {
  background-color: rgb(0, 0, 0);
  padding: 7px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  outline-offset: 3px;
  outline: inset 6px purple;
}
.div4 {
  background-image: url(./img/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 110vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  opacity: 0.75;
}

.div44 {
  background-color: rgb(241, 241, 241);
}
.div4_1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 70px;
}
.div4_1 h4 {
  font-size: 25px;
  font-weight: 900;
}
.div4_1 p {
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
  line-height: 25px;
}
.div4_2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div4_2 p {
  font-size: 50px;
  letter-spacing: 7.5px;
  color: white;
}
.div4_2 > div {
  background-color: rgb(0, 0, 0);
  padding: 7px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  outline-offset: 3px;
  outline: inset 6px purple;
}

.div5 {
  background-image: url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 128vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  opacity: 0.75;
}

.div55 {
  background-color: rgb(0, 0, 0);
}
.div5_1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 70px;
}
.div5_1 h5 {
  color: white;
  font-size: 25px;
  font-weight: 900;
}
.div5_1 p {
  color: white;
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
  line-height: 25px;
}
.div5_2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div5_2 p {
  font-size: 50px;
  letter-spacing: 8px;
  color: white;
}
.div5_2 > div {
  background-color: rgb(0, 0, 0);
  padding: 30px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  outline-offset: 15px;
  outline: inset 9px purple;
}
